.attention-banner-container {
  width: 100vw;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #caeb70;
  padding: 10px;

  @media screen and (max-width: 600px) {
    height: fit-content
  }

  .attention-banner-icon {
    height: 17px;
    margin-right: 12px;
  }

  .attention-banner-text {
    font-weight: 500;
    font-size: 16px;
    color: #20253b;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .banner-close {
    position: absolute;
    right: 25px;
    top: 18px;
    color: #20253b;
  }
}