.deposit-amount-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 80px;
  background: #313650;
  border-radius: 51.5863px;
  padding: 22px 24px;

  @media screen and (max-width: 768px) {
    height: 61px !important;
    justify-content: center;
  }

  &.border {
    border-bottom-left-radius: 0px;
  }

  &.kujira {
    background: #323843;
  }

  @media screen and (max-width: 768px) {
    height: 50px;
    padding: 0px 35px;
  }

  .input-section {
    display: flex;
  }

  .selected-token-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    .selected-token-icon {
      height: 30px;

      @media screen and (max-width: 768px) {
        height: 20px;
      }
    }

    .selected-token-arrow {
      height: 16px;

      @media screen and (max-width: 768px) {
        height: 10px;  
      }
    }

    .selected-token-symbol {
      font-weight: 700;
      font-size: 30px;
      color: #fff;
      padding: 0px 10px;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
      
    }
  }

  .input-wrapper {
    flex: 1;

    .input-amount {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      font-weight: 700;
      font-size: 30px;
      text-align: right;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .balance-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
      font-size: 12px;
      color: #B6B2EF;

      @media screen and (max-width: 768px) {
        font-size: 10px; 
      }
    }
  }
  
  .max-button {
    background: #b6b2ef;
    border-radius: 34px;
    width: 45.05px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    border: none;
    outline: none;
    color: #262b43;
    cursor: pointer;
    margin-left: 11px;

    @media screen and (max-width: 768px) {
      width: 29.56px;
      height: 12.21px;
      font-size: 8px;
    }
  }
}
