.pool-info-container {
  width: 100%;
  height: 60px;
  background: #313650;
  border: 1px solid #60699e;
  border-radius: 30px;
  display: flex;

  @media screen and (max-width: 768px) {
    height: 43px;
  }

  .pool-name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #60699e;
    color: #fff;
    font-weight: 700;
    font-size: 32px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    img {
      height: 34px;
      margin-right: 8px;

      @media screen and (max-width: 768px) {
        height: 25px;
      }
    }
  }

  .pool-apy {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;

    @media screen and (max-width: 768px) {
      font-size: 13px;
    }

    .apy {
      color: #37fad3;
      font-weight: 700;
      font-size: 30px;
      padding-left: 9px;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
